name: Upload Python Package

on:
  release:
    types: [created]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # otherwise, you do not retrieve the tags
      - uses: actions/setup-python@v1
        with:
          python-version: "3.x"

      - name: Install pypa/build
        run: |
          python -m pip install build --user

      - name: Build a source tarball
        run: |
          python -m build --sdist  --outdir dist/

      - name: Publish to PyPi
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}